cycler==0.11.0
decorator==5.1.1
joblib==0.14.0
kiwisolver==1.4.5
lasio==0.17
matplotlib==3.1.0
networkx==2.3
numpy==1.21.6
ordereddict==1.1
pandas==0.24.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==0.22
scipy==1.7.3
six==1.17.0
torch==1.0.0
typing_extensions==4.7.1
tables==3.6.1
